body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    background-color: var(--gray-800);
    color: #fff;
    padding: 0px; /* Reduz ainda mais o padding do cabeçalho */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom: 3px solid #00ff00; /* Adiciona a borda verde na parte inferior do cabeçalho */
}


.header-content {
    display: flex;
    align-items: center;
}

.buttons-left,
.buttons-right {
    display: flex;
    align-items: center;
}

.buttons-right {
    margin-left: auto; /* Afasta os botões da margem direita */
}

.logout-btn,
.voltar-btn {
    background: none;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--gray-700);
    transition: background 0.2s;
    font-weight: bold;
}

.logout-btn:hover,
.voltar-btn:hover {
    background-color: var(--green-600);
}

.sidebar {
    position: absolute;
    top: 100px; /* Ajuste conforme necessário */
    left: 0;
    background-color: var(--gray-800);
    color: #fff;
    padding: 20px;
    width: 200px;
    height: calc(100vh - 100px); /* Ajuste conforme necessário */
    z-index: 1;
}


.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #00ff00;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: #fff;
    background-image: url('https://cdn-icons-png.flaticon.com/512/43/43914.png');
    background-size: cover;
    background-position: center;
}

.green-line {
    position: relative;
    font-size: 24px;
    margin-right: 20px; /* Afasta o "Ecotech" da margem direita */
}

.green-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00ff00;
}
