body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--gray-900);
}

header {
    background-color: var(--gray-800);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ajusta os botões para o lado direito */
}

header a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--gray-100);
}

header button {
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px; /* Mantém o tamanho da fonte */
    padding: 8px 16px; /* Aumenta o padding para aumentar a borda */
    margin-right: 10px; /* Espaço entre os botões */
    border-radius: 8px; /* Deixa a borda mais arredondada */
    border: 2px solid var(--gray-700); /* Aumenta a largura da borda */
    transition: background 0.2s;
}

header button:hover {
    background-color: var(--green-600);
}

main {
    padding: 20px;
}

.input-container {
    background-color: var(--gray-800);
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Alterado para ocupar toda a largura */
    max-width: 600px; /* Adicionado limite de largura */
    margin: 0 auto 20px;
    box-sizing: border-box; /* Considera o padding e a borda na largura total */
}

form {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input[type="file"],
input[type="number"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    box-sizing: border-box;
}

button[type="submit"] {
    width: calc(100% - 22px); /* Alterado para ocupar a mesma largura dos campos */
    background-color: #4CAF50;
    color: white;
    padding: 10px; /* Reduzido o padding para corresponder aos campos */
    border: none;
    border-radius: 4px; /* Deixa o botão com bordas quadradas */
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


button[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    color: #fff;
    text-align: center;
}
