body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--gray-900);
    overflow-x: hidden; 
}

header {
    background-color: var(--gray-800);
    color: #000000;
    padding: 25px 24px 54px;
    display: flex;
    justify-content: space-between; 
}

header div button {
    margin-left: 10px; 
    align-items: center;
    border-bottom: 1px solid var(--gray-700);
    justify-content: flex-start; 
}

header a {
    text-decoration: none;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 23px;
}

header button {
    margin-right: 10px; 
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--gray-700);
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.2s;
}

header button:hover {
    background-color: var(--green-600);
}


header button:hover {
    background-color: var(--green-600);
}

main {
    padding: 20px;
}

.input-container {
    background-color: var(--gray-800); 
    padding: 30px; 
    border-radius: 8px; 
    width: fit-content; 
    margin: 0 auto 20px; 
}

form {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff; 
    font-weight: bold; 
}

input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #030303;
    border-radius: 4px;
    color: #333;
    box-sizing: border-box; 
}

button {
    background-color: #4CAF50;
    color: rgb(255, 252, 252);
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #fff;
    text-align: center;
}

