body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--gray-900);
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}



h2 {
    color: #fff; /* Cor do texto */
    text-align: center; /* Centralizar o texto */
    font-weight: bold; /* Adiciona negrito */
}

main {
    padding: 20px;
}

.input-container {
    background-color: var(--gray-800); /* Cor de fundo da caixa */
    padding: 30px; /* Aumenta o preenchimento para aumentar o tamanho da caixa */
    border-radius: 8px; /* Borda arredondada */
    width: fit-content; /* Define a largura da caixa para se ajustar ao conteúdo */
    margin: 0 auto 20px; /* Centraliza a caixa horizontalmente e adiciona margem na parte inferior */
}

form {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff; /* Cor do texto da etiqueta */
    font-weight: bold; /* Adiciona negrito */
}

input[type="text"],
select {
    width: calc(100% - 22px); /* Largura dos campos de entrada e selects considerando o padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333; /* Cor do texto dos campos de entrada e selects */
    box-sizing: border-box; /* Garante que a largura inclua o preenchimento e a borda */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}





